<div class="ui relaxed divided list">
  #{list items:_members, as:'member'}
    <div class="item">
      <div class="right floated content">
        <a href="/admin/deletemember/${member.id}">
          <div class="ui icon button"><i class="trash alternate icon"></i></div>
        </a>
      </div>
      <i class="large github middle aligned icon"></i>
      <div class="content">
        <a href="/admin/members/${member.getId()}" class="header">${member.getName()}</a>
        <div class="description">${member.getAssessments().size()} assessments</div>
      </div>
    </div>
  #{/list}
</div>
