<table class="ui table fixed">
  <thead>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <th>Chest</th>
    <th>Thigh</th>
    <th>Upper Arm</th>
    <th>Waist</th>
    <th>Hips</th>
    <th>Comment</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  #{list items:_assessments, as:'assessment'}
  <tr>
    <td>${assessment.getFormattedDate()}</td>
    <td>${assessment.getWeight()}</td>
    <td>${assessment.getChest()}</td>
    <td>${assessment.getThigh()}</td>
    <td>${assessment.getUpperArm()}</td>
    <td>${assessment.getWaist()}</td>
    <td>${assessment.getHips()}</td>
    <td>${assessment.getComment()}</td>
    <td><a href="/dashboard/deleteassessment/${assessment.id}"><button class="ui icon button"><i class="trash alternate icon"></i></button></a></td>
  </tr>
  #{/list}
  </tbody>
</table>