<table class="ui table">
  <thead>
  <tr>
    <th class="three wide">Date</th>
    <th class="one wide">Weight</th>
    <th class="one wide">Chest</th>
    <th class="one wide">Thigh</th>
    <th class="one wide">Arm</th>
    <th class="one wide">Waist</th>
    <th class="one wide">Hips</th>
    <th>Comment</th>
    <th class="one wide"></th>
  </tr>
  </thead>
  <tbody>
  #{list items:_assessments, as:'assessment'}
  <tr>
    <td>${assessment.getFormattedDate()}</td>
    <td>${assessment.getWeight()}</td>
    <td>${assessment.getChest()}</td>
    <td>${assessment.getThigh()}</td>
    <td>${assessment.getUpperArm()}</td>
    <td>${assessment.getWaist()}</td>
    <td>${assessment.getHips()}</td>
    <td>${assessment.getComment()}</td>
    <td><a href="/dashboard/deleteassessment/${assessment.id}">
      <button class="ui icon button"><i class="trash alternate icon"></i></button>
    </a></td>
  </tr>
  #{/list}
  </tbody>
  <tfoot>
  <tr><th colspan="9">Total Assessments: ${_assessments.size()}</th></tr>
  </tfoot>
</table>