#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{membermenu /}

<section class="ui segment">
  <div class="ui four column center aligned middle aligned grid segment">
    <div class="ui column">
      <div class="ui statistic">
        <div class="value">
          <i class="user icon"></i>
        </div>
        <div class="label">
        ${member.getName()}
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui statistic">
        <div class="value">
          #{if member.getLatestAssessment() == null}
          <i class="tachometer alternate icon"></i>
          #{/if}
          #{elseif member.isIdealBodyWeight()}
            <i class="green tachometer alternate icon"></i>
          #{/elseif}
          #{else}
            <i class="red tachometer alternate icon"></i>
          #{/else}
        </div>
        <div class="label">
        IDEAL WEIGHT INDICATOR
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui statistic">
        <div class="value">
          <i class="heartbeat icon"></i> ${member.getCurrentBmi()}
        </div>
        <div class="label">
          BMI
        </div>
      </div>
    </div>
    <div class="ui column">
      <div class="ui statistic">
        <div class="value">
          <i class="user md icon"></i>
        </div>
        <div class="label">
        ${member.getCurrentBmiCategory()}
        </div>
      </div>
    </div>
  </div>
  #{addassessment /}
  #{listassessments assessments:member.getSortedAssessments()/}
</section>